@import '../../../vendor/styles/variables';

.ListItem {
    padding: 12px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    opacity: 1;
    border: 1px solid transparent;
    border-radius: $border-radius;

    &:hover {
        opacity: 0.6;
    }

    &Active {
        background-color: $green-color;
        border-radius: $border-radius;
        color: $white-color;
    }
}