@import '../../../vendor/styles/variables';

.Item {
    box-shadow: $box-shadow;
    border-radius: $border-radius-card;
    transform: translateY(0);
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }
}

.Image {
    width: 144px;
    height: 144px;
    object-fit: contain;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: $border-radius-card;
    border-top-right-radius: $border-radius-card;
}

.Title {
    margin: 0;
    padding: 12px 18px 18px 18px;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    word-break: keep-all;
}